.modal-tabs  {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 2px solid #59ab6e !important;
  }
  
  .modal-tabs  .modal-tabs-link {
    font-size: 20px;
    margin-bottom: -1px;
    border: 1px solid transparent;
    background-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .modal-tabs  .modal-tabs-link:hover, modal-tabs .modal-tabs-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
    isolation: isolate;
  }
  .modal-tabs .modal-tabs-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
  }
  .modal-tabs  .modal-tabs-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent transparent;
    border-bottom: 2px solid #59ab6e !important;
    font-size: 20px;
    font-weight: bold;
  }
  .modal-tabs-fill > .modal-tabs-link,
  .modal-tabs-fill {
    flex: 1 1 auto;
    text-align: center;
  }

  .pb-20r{
    padding-bottom: 20rem;
  }

  .mb-3r{
    margin-bottom: 3rem;
  }
  .btnadd{
    width: 5rem;
    right: 0;
  }